<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <h1> Simple Ordering System</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Product List</h2>
            <div>
                <span > So thu tu </span> |  <span > Ten san pham </span> | <span > Gia </span> | <span > Mo ta </span> | <span > So luong </span>
            </div>

            <div class="list-group" id="product-list">
                <div th:each="product : ${products}">
                    <span th:text="${product.id}">  </span> |
                    <span th:text="${product.name}">  </span> | <span th:text="${product.price}"></span> |
                    <span th:text="${product.description}"></span> | </span> <span th:text="${product.quantity}"></span>
                </div>
            </div>
        </div>
        <div>
            <h2>Place Order</h2>
            <form>
                <div>
                    <label for="product-id">Product ID:</label>
                    <input type="text" class="form-control" id="product-id" name="productId" required>
                </div>
                <div>
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" required>
                </div>
                <button type="submit">Place Order</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>